
body{
    max-height: 100vw;
    box-sizing: border-box;
}
img {
    max-height: 90vh;
    text-align: center;
}
#imageHolder {
    width: 70%;
    margin: 0 auto;
}

#imageWrapper {
    width: fit-content;
    margin: 0 auto;
}

#imageInfo {
    width: 30%;
    text-align: left;
}

#thinking {
    position: absolute;
    top: 0;
    height: 90vh;
    width: 90vh;
    background-color: white;
    display: none;
}

#text-holder {
    font-size: 4rem;
    width: fit-content;
    margin: 0 auto;
    
}


#description, #advDesc {
margin-left: 1rem;
margin-top: 1rem;
text-align: left;
}

#fullImageLink {
    margin-top: 1rem;
}

#artWrapper {
    display: flex;
}

#next-image-button-holder {
    width: fit-content;
    margin: 2rem auto;
}
