:root {
    font-family: Helvetica, 'Open Sans';
}

body{
    max-height: 100vw;
    box-sizing: border-box;
}
img {
    max-height: 90vh;
    text-align: center;
}

button {
    height: 3rem;
    padding: 0 1rem;
    box-shadow: 3px 3px 15px #aaa;
}
#imageHolder {
    width: 70%;
    margin: 0 auto;
}

#imageWrapper {
    width: fit-content;
    margin: 0 auto;
}

#imageInfo {
    width: 30%;
    text-align: left;
}

#thinking-holder {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#thinking {
    height: auto;
    width: 100%;
    position: absolute;
    top: 45%;
    left: 25%;
    display: block;
    font-size: 5rem;
    box-sizing: border-box;
}

#text-holder {
    font-size: 4rem;
    width: fit-content;
    margin: 45vh auto;
    
}


#intro, #description, #advDesc {
margin-left: 1rem;
margin-top: 1rem;
text-align: left;
}

#fullImageLink {
    margin-left: 1rem;
}

#artWrapper {
    display: flex;
}

#next-image-button-holder {
    width: fit-content;
    margin: 2rem auto;
}
